@model AddFurnitureViewModel

<link href="~/css/Add.css" rel="stylesheet" />

<h1>Add Furniture</h1>
<hr />


<form asp-action="AddFurniture" asp-controller="Furniture" method="post">

    <div class="form-group">


        <label>Name</label>
        <input type="text" asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" asp-for="ItemDescription" class="form-control" />
        <span asp-validation-for="ItemDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label> Wood Type </label>
        <input type="text" asp-for="WoodType" class="form-control" />
        <span asp-validation-for="WoodType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label> Price </label>
        <input type="number" asp-for="ItemPrice" class="form-control" />
        <span asp-validation-for="ItemPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" asp-for="CategoryId" asp-items="@Model.CategoryList"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
     <a class="btn btn-primary" asp-controller="Furniture" asp-action="Index">Cancel</a>
</form>
